*
!install_system.sh
!.config
!.config/
!.config/**
.config/*
!.config/i3
!.config/picom
!.zshrc
!.config/qt5ct
!.config/gtk-3.0
!.config/albert
.config/albert/*.db
!.config/fcitx
.config/fcitx/*
!.config/fcitx/config
!.profile
!.config/dunst
!.config/GIMP/
!.config/GIMP/2.10
.config/GIMP/2.10/*
!.config/GIMP/2.10/menurc
!.config/fontconfig/
!.pam_environment
!.config/systemd/
!.config/redshift.conf
!.config/polybar/
.config/polybar/config.toml
!.config/rofi/
!jetbrainsettings.zip
!.ideavimrc
!.intellimacs/
!.intellimacs/*
!altgr_vim
!.hygen.js
!.hygen.spec.js
!.local/
!.local/share
!.local/share/nautilus
!.local/share/nautilus/scripts
!.local/share/nautilus/scripts/*
!.local/share/nautilus/scripts/test
!.local/share/nautilus/scripts/test/*
